* {
  margin: 0;
}

.app{
  background-color:#fafafa;
}

.app_posts{
  padding:20px;
  display:flex;
  justify-content:center;
}

.app_postsRight{
  margin-left: 20px;
}

.app_header{
  position: sticky;
  top:0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  padding:15px;
  border:1px solid lightgrey;
  display: flex;
  justify-content:space-between;
}

.app_headerImage{
  object-fit: contain;
}

.app_signup{
  text-align: center;
  
}

.app_signupInput{
  display:flex;
  flex-direction:column ;
}

.app_loginMessage{
    display:flex;
    flex-direction:column;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:white;
    border-bottom:1px solid lightgrey;
    text-align:center;
}